# Activity 2: Extracting general features from text

In [13]:
import pandas as pd
import nltk
from nltk.tag import pos_tag
from nltk import word_tokenize
from collections import Counter
import string
from textblob import TextBlob

In [2]:
df = pd.read_csv('data/data.csv')
df

                                                 text
0                             What you do defines you
1                               Your deeds define you
2                Once upon a time there lived a king.
3                                  Who is your queen?
4                                     He is desperate
5                                Is he not desperate?
6   Data Science is an overlap between Arts and Sc...
7   Generally, Arts graduates are right-brained an...
8   Excelling in both Arts and Science at a time b...
9   Natural Language Processing is a part of Data ...
10  The products produced by the process today are...
11  Before eating, it would be nice to sanitize yo...
12  Once upon a time there lived a saint named Ram...
13  His chief disciple Narendranath Dutta also kno...
14  I like detective Byomkesh Bakshi.  Byomkesh Ba...

# Finding the number of occurences of each part of speech

In [5]:
def count_pos(sentence):
    tags = pos_tag(word_tokenize(sentence))
    return Counter([j for i,j in tags])

In [7]:
df['pos tagging'] = df['text'].apply(lambda x: count_pos(str(x)))

In [8]:
df

,text,pos tagging
0,What you do defines you,"{'WP': 1, 'PRP': 2, 'VBP': 1, 'NNS': 1}"
1,Your deeds define you,"{'PRP$': 1, 'NNS': 1, 'VBP': 1, 'PRP': 1}"
2,Once upon a time there lived a king.,"{'RB': 2, 'IN': 1, 'DT': 2, 'NN': 2, 'VBD': 1,..."
3,Who is your queen?,"{'WP': 1, 'VBZ': 1, 'PRP$': 1, 'NN': 1, '.': 1}"
4,He is desperate,"{'PRP': 1, 'VBZ': 1, 'JJ': 1}"
5,Is he not desperate?,"{'VBZ': 1, 'PRP': 1, 'RB': 1, 'VB': 1, '.': 1}"
6,Data Science is an overlap between Arts and Sc...,"{'NNP': 3, 'VBZ': 1, 'DT': 1, 'NN': 1, 'IN': 1..."
7,"Generally, Arts graduates are right-brained an...","{'RB': 1, ',': 1, 'NNS': 3, 'VBP': 2, 'JJ': 2,..."
8,Excelling in both Arts and Science at a time b...,"{'VBG': 1, 'IN': 2, 'DT': 2, 'NNS': 1, 'CC': 1..."
9,Natural Language Processing is a part of Data ...,"{'JJ': 1, 'NNP': 4, 'VBZ': 1, 'DT': 1, 'NN': 1..."
10,The products produced by the process today are...,"{'DT': 2, 'NNS': 1, 'VBN': 1, 'IN': 2, 'NN': 2..."
11,"Before eating, it would be nice to sanitize yo...","{'IN': 2, 'NN': 2, ',': 1, 'PRP': 1, 'MD': 1, ..."
12,Once upon a time there lived a saint named Ram...,"{'RB': 2, 'IN': 1, 'DT': 2, 'NN': 2, 'VBD': 1,..."
13,His chief disciple Narendranath Dutta also kno...,"{'PRP$': 1, 'JJ': 2, 'NNP': 8, 'RB': 1, 'VBN':..."
14,I like detective Byomkesh Bakshi. Byomkesh Ba...,"{'PRP': 2, 'VBP': 1, 'JJ': 1, 'NNP': 4, '.': 2..."

# Find the amout of punctuation marks

In [12]:
punc = set(string.punctuation)
print(punc)

{'%', "'", '{', '_', '<', '$', '+', '=', ':', '(', '!', '|', '}', '^', '\\', '.', '"', '>', '-', '~', '#', '&', '`', '@', '?', '[', '/', ',', ']', '*', ';', ')'}

In [16]:
df['number of puncuations'] = df['text'].apply(lambda x: len(set(x).intersection(punc)) )

In [17]:
df

,text,pos tagging,number of puncuations
0,What you do defines you,"{'WP': 1, 'PRP': 2, 'VBP': 1, 'NNS': 1}",0
1,Your deeds define you,"{'PRP$': 1, 'NNS': 1, 'VBP': 1, 'PRP': 1}",0
2,Once upon a time there lived a king.,"{'RB': 2, 'IN': 1, 'DT': 2, 'NN': 2, 'VBD': 1,...",1
3,Who is your queen?,"{'WP': 1, 'VBZ': 1, 'PRP$': 1, 'NN': 1, '.': 1}",1
4,He is desperate,"{'PRP': 1, 'VBZ': 1, 'JJ': 1}",0
5,Is he not desperate?,"{'VBZ': 1, 'PRP': 1, 'RB': 1, 'VB': 1, '.': 1}",1
6,Data Science is an overlap between Arts and Sc...,"{'NNP': 3, 'VBZ': 1, 'DT': 1, 'NN': 1, 'IN': 1...",1
7,"Generally, Arts graduates are right-brained an...","{'RB': 1, ',': 1, 'NNS': 3, 'VBP': 2, 'JJ': 2,...",3
8,Excelling in both Arts and Science at a time b...,"{'VBG': 1, 'IN': 2, 'DT': 2, 'NNS': 1, 'CC': 1...",1
9,Natural Language Processing is a part of Data ...,"{'JJ': 1, 'NNP': 4, 'VBZ': 1, 'DT': 1, 'NN': 1...",1
10,The products produced by the process today are...,"{'DT': 2, 'NNS': 1, 'VBN': 1, 'IN': 2, 'NN': 2...",1
11,"Before eating, it would be nice to sanitize yo...","{'IN': 2, 'NN': 2, ',': 1, 'PRP': 1, 'MD': 1, ...",1
12,Once upon a time there lived a saint named Ram...,"{'RB': 2, 'IN': 1, 'DT': 2, 'NN': 2, 'VBD': 1,...",1
13,His chief disciple Narendranath Dutta also kno...,"{'PRP$': 1, 'JJ': 2, 'NNP': 8, 'RB': 1, 'VBN':...",1
14,I like detective Byomkesh Bakshi. Byomkesh Ba...,"{'PRP': 2, 'VBP': 1, 'JJ': 1, 'NNP': 4, '.': 2...",2

#